<p id="notice"><%= notice %></p>

<h1>Total Collected per User</h1>

<table class="statistics table">
  <thead>
    <tr>
      <th>User</th>
      <th>Collected</th>
    </tr>
  </thead>

  <tbody>
    <% @user_dues.each do |u| %>
      <tr>
        <td><%= u[:name] %></td>
        <td><%= u[:due] %></td>
      </tr>
    <% end %>
    <tr>
      <td><h2>Total Collected</h2></td>
      <td><h2><%= @total_collected %></h2></td>
    </tr>
  </tbody>
</table>
